<div>
    <h4> Create a post </h4>

    <form [formGroup]="form" (ngSubmit)="createPost()">
        <label for="userName"> Write your name </label>
        <input type="text" name="userName" id="userName" formControlName="userName">

        <label for="title"> Write a title </label>
        <input type="text" name="title" id="title" formControlName="title">

        <label for="content"> Write the content </label>
        <input type="text" name="content" id="content" formControlName="content">

        <label for="category"> Select the category </label>
        <select name="category" id="category" formControlName="category">
            <option *ngFor="let category of arrayCategories" [value]="category.name"> {{ category.name }} </option>
        </select>

        <button type="submit" [disabled]="form.invalid"> Create </button>
    </form>
</div>