<div>
    <h5> Create a revew </h5>

    <form [formGroup]="form" (ngSubmit)="createRevew()">
        <label for="userName"> Write your name </label>
        <input type="text" name="userName" id="userName" formControlName="userName">

        <label for="content"> Write the content </label>
        <input type="text" name="content" id="content" formControlName="content">

        <label for="stars"> Write the number of stars </label>
        <input type="number" name="stars" id="stars" min="0" max="5" step="0.25" formControlName="stars">

        <button type="submit" [disabled]="form.invalid"> Create </button>
    </form>
</div>