/* You can add global styles to this file, and also import other style files */
.ml-05 {
    margin-left: 0.5rem !important;
}

.ml-1 {
    margin-left: 1rem !important;
}

.ml-2 {
    margin-left: 2rem !important;
}

.mr-2 {
    margin-right: 2rem !important;
}

.mr-3 {
    margin-right: 3rem !important;
}

.pl-1 {
    padding-left: 1rem !important;
}

.top-right {
    top: 0;
    right: 0;
    height: 72px;
    position: fixed;
    border-radius: 5px;
    border: 1px solid black;
}