<nav class="navbar navbar-light header">
    <div class="m-2 ml-2 d-flex">
        <div class="d-flex align-items-center mr-2">
            <a href="#companyLink" class="nav-link px-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-buildings" viewBox="0 0 16 16"><path d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022ZM6 8.694 1 10.36V15h5V8.694ZM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15Z"/><path d="M2 11h1v1H2v-1Zm2 0h1v1H4v-1Zm-2 2h1v1H2v-1Zm2 0h1v1H4v-1Zm4-4h1v1H8V9Zm2 0h1v1h-1V9Zm-2 2h1v1H8v-1Zm2 0h1v1h-1v-1Zm2-2h1v1h-1V9Zm0 2h1v1h-1v-1ZM8 7h1v1H8V7Zm2 0h1v1h-1V7Zm2 0h1v1h-1V7ZM8 5h1v1H8V5Zm2 0h1v1h-1V5Zm2 0h1v1h-1V5Zm0-2h1v1h-1V3Z"/></svg>
            </a>

            <a class="navbar-brand" href="#"> Game-Revews Buy-Games </a>
        </div>

        <div *ngIf="user">

            <!-- User admin -->
            <div *ngIf="user.admin === 1039">
                <div [ngSwitch]="actualPage">
                    <ul class="navbar-nav mr-auto" *ngSwitchCase="1">
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(1)">
                                <strong> Home </strong>
                            </button>
                        </li>
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(2)">
                                <span> Games </span>
                            </button>
                        </li>
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(3)">
                                <span> Posts </span>
                            </button>
                        </li>
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(4)">
                                <span> Contact us </span>
                            </button>
                        </li>
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(5)">
                                <span> Login </span>
                            </button>
                        </li>
                        <li class="nav-item mr-2" *ngIf="user.admin === 1039">
                            <button class="nav-link" (click)="selectPage(6)">
                                <span> Administration </span>
                            </button>
                        </li>
                    </ul>
                    <ul class="navbar-nav mr-auto" *ngSwitchCase="2">
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(1)">
                                <span> Home </span>
                            </button>
                        </li>
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(2)">
                                <strong> Games </strong>
                            </button>
                        </li>
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(3)">
                                <span> Posts </span>
                            </button>
                        </li>
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(4)">
                                <span> Contact us </span>
                            </button>
                        </li>
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(5)">
                                <span> Login </span>
                            </button>
                        </li>
                        <li class="nav-item mr-2" *ngIf="user.admin === 1039">
                            <button class="nav-link" (click)="selectPage(6)">
                                <span> Administration </span>
                            </button>
                        </li>
                    </ul>
                    <ul class="navbar-nav mr-auto" *ngSwitchCase="3">
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(1)">
                                <span> Home </span>
                            </button>
                        </li>
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(2)">
                                <span> Games </span>
                            </button>
                        </li>
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(3)">
                                <strong> Posts </strong>
                            </button>
                        </li>
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(4)">
                                <span> Contact us </span>
                            </button>
                        </li>
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(5)">
                                <span> Login </span>
                            </button>
                        </li>
                        <li class="nav-item mr-2" *ngIf="user.admin === 1039">
                            <button class="nav-link" (click)="selectPage(6)">
                                <span> Administration </span>
                            </button>
                        </li>
                    </ul>
                    <ul class="navbar-nav mr-auto" *ngSwitchCase="4">
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(1)">
                                <span> Home </span>
                            </button>
                        </li>
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(2)">
                                <span> Games </span>
                            </button>
                        </li>
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(3)">
                                <span> Posts </span>
                            </button>
                        </li>
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(4)">
                                <strong> Contact us </strong>
                            </button>
                        </li>
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(5)">
                                <span> Login </span>
                            </button>
                        </li>
                        <li class="nav-item mr-2" *ngIf="user.admin === 1039">
                            <button class="nav-link" (click)="selectPage(6)">
                                <span> Administration </span>
                            </button>
                        </li>
                    </ul>
                    <ul class="navbar-nav mr-auto" *ngSwitchCase="5">
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(1)">
                                <span> Home </span>
                            </button>
                        </li>
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(2)">
                                <span> Games </span>
                            </button>
                        </li>
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(3)">
                                <span> Posts </span>
                            </button>
                        </li>
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(4)">
                                <span> Contact us </span>
                            </button>
                        </li>
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(5)">
                                <strong> Login </strong>
                            </button>
                        </li>
                        <li class="nav-item mr-2" *ngIf="user.admin === 1039">
                            <button class="nav-link" (click)="selectPage(6)">
                                <span> Administration </span>
                            </button>
                        </li>
                    </ul>
                    <ul class="navbar-nav mr-auto" *ngSwitchCase="6">
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(1)">
                                <span> Home </span>
                            </button>
                        </li>
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(2)">
                                <span> Games </span>
                            </button>
                        </li>
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(3)">
                                <span> Posts </span>
                            </button>
                        </li>
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(4)">
                                <span> Contact us </span>
                            </button>
                        </li>
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(5)">
                                <span> Login </span>
                            </button>
                        </li>
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(6)">
                                <strong> Administration </strong>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- User not admin -->
            <div *ngIf="user.admin !== 1039">
                <div [ngSwitch]="actualPage">
                    <ul class="navbar-nav mr-auto" *ngSwitchCase="1">
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(1)">
                                <strong> Home </strong>
                            </button>
                        </li>
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(2)">
                                <span> Games </span>
                            </button>
                        </li>
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(3)">
                                <span> Posts </span>
                            </button>
                        </li>
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(4)">
                                <span> Contact us </span>
                            </button>
                        </li>
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(5)">
                                <span> Login </span>
                            </button>
                        </li>
                    </ul>
                    <ul class="navbar-nav mr-auto" *ngSwitchCase="2">
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(1)">
                                <span> Home </span>
                            </button>
                        </li>
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(2)">
                                <strong> Games </strong>
                            </button>
                        </li>
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(3)">
                                <span> Posts </span>
                            </button>
                        </li>
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(4)">
                                <span> Contact us </span>
                            </button>
                        </li>
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(5)">
                                <span> Login </span>
                            </button>
                        </li>
                    </ul>
                    <ul class="navbar-nav mr-auto" *ngSwitchCase="3">
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(1)">
                                <span> Home </span>
                            </button>
                        </li>
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(2)">
                                <span> Games </span>
                            </button>
                        </li>
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(3)">
                                <strong> Posts </strong>
                            </button>
                        </li>
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(4)">
                                <span> Contact us </span>
                            </button>
                        </li>
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(5)">
                                <span> Login </span>
                            </button>
                        </li>
                    </ul>
                    <ul class="navbar-nav mr-auto" *ngSwitchCase="4">
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(1)">
                                <span> Home </span>
                            </button>
                        </li>
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(2)">
                                <span> Games </span>
                            </button>
                        </li>
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(3)">
                                <span> Posts </span>
                            </button>
                        </li>
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(4)">
                                <strong> Contact us </strong>
                            </button>
                        </li>
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(5)">
                                <span> Login </span>
                            </button>
                        </li>
                    </ul>
                    <ul class="navbar-nav mr-auto" *ngSwitchCase="5">
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(1)">
                                <span> Home </span>
                            </button>
                        </li>
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(2)">
                                <span> Games </span>
                            </button>
                        </li>
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(3)">
                                <span> Posts </span>
                            </button>
                        </li>
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(4)">
                                <span> Contact us </span>
                            </button>
                        </li>
                        <li class="nav-item mr-2">
                            <button class="nav-link" (click)="selectPage(5)">
                                <strong> Login </strong>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- User not logged -->
        <div *ngIf="!user">
            <div [ngSwitch]="actualPage">
                <ul class="navbar-nav mr-auto" *ngSwitchCase="1">
                    <li class="nav-item mr-2 mr-2">
                        <button class="nav-link" (click)="selectPage(1)">
                            <strong> Home </strong>
                        </button>
                    </li>
                    <li class="nav-item mr-2 mr-2">
                        <button class="nav-link" (click)="selectPage(2)">
                            <span> Games </span>
                        </button>
                    </li>
                    <li class="nav-item mr-2 mr-2">
                        <button class="nav-link" (click)="selectPage(4)">
                            <span> Contact us </span>
                        </button>
                    </li>
                    <li class="nav-item mr-2 mr-2">
                        <button class="nav-link" (click)="selectPage(5)">
                            <span> Login </span>
                        </button>
                    </li>
                </ul>
                <ul class="navbar-nav mr-auto" *ngSwitchCase="2">
                    <li class="nav-item mr-2 mr-2">
                        <button class="nav-link" (click)="selectPage(1)">
                            <span> Home </span>
                        </button>
                    </li>
                    <li class="nav-item mr-2 mr-2">
                        <button class="nav-link" (click)="selectPage(2)">
                            <strong> Games </strong>
                        </button>
                    </li>
                    <li class="nav-item mr-2 mr-2">
                        <button class="nav-link" (click)="selectPage(4)">
                            <span> Contact us </span>
                        </button>
                    </li>
                    <li class="nav-item mr-2 mr-2">
                        <button class="nav-link" (click)="selectPage(5)">
                            <span> Login </span>
                        </button>
                    </li>
                </ul>
                <ul class="navbar-nav mr-auto" *ngSwitchCase="3">
                    <li class="nav-item mr-2">
                        <button class="nav-link" (click)="selectPage(1)">
                            <span> Home </span>
                        </button>
                    </li>
                    <li class="nav-item mr-2">
                        <button class="nav-link" (click)="selectPage(2)">
                            <span> Games </span>
                        </button>
                    </li>
                    <li class="nav-item mr-2">
                        <button class="nav-link" (click)="selectPage(4)">
                            <span> Contact us </span>
                        </button>
                    </li>
                    <li class="nav-item mr-2">
                        <button class="nav-link" (click)="selectPage(5)">
                            <span> Login </span>
                        </button>
                    </li>
                </ul>
                <ul class="navbar-nav mr-auto" *ngSwitchCase="4">
                    <li class="nav-item mr-2">
                        <button class="nav-link" (click)="selectPage(1)">
                            <span> Home </span>
                        </button>
                    </li>
                    <li class="nav-item mr-2">
                        <button class="nav-link" (click)="selectPage(2)">
                            <span> Games </span>
                        </button>
                    </li>
                    <li class="nav-item mr-2">
                        <button class="nav-link" (click)="selectPage(4)">
                            <strong> Contact us </strong>
                        </button>
                    </li>
                    <li class="nav-item mr-2">
                        <button class="nav-link" (click)="selectPage(5)">
                            <span> Login </span>
                        </button>
                    </li>
                </ul>
                <ul class="navbar-nav mr-auto" *ngSwitchCase="5">
                    <li class="nav-item mr-2">
                        <button class="nav-link" (click)="selectPage(1)">
                            <span> Home </span>
                        </button>
                    </li>
                    <li class="nav-item mr-2">
                        <button class="nav-link" (click)="selectPage(2)">
                            <span> Games </span>
                        </button>
                    </li>
                    <li class="nav-item mr-2">
                        <button class="nav-link" (click)="selectPage(4)">
                            <span> Contact us </span>
                        </button>
                    </li>
                    <li class="nav-item mr-2">
                        <button class="nav-link" (click)="selectPage(5)">
                            <strong> Login </strong>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>